<h1>Resourcefulness</h1>

<h2>A site for current Turing Mod 3 students to catalog helpful articles and resources</h2>

<section>
  <h3>Add a Resource</h3>
  <%= form_tag "/resource/new", method: :get do %>
    <%= label_tag "Title" %>
    <%= text_field_tag :title %>

    <%= label_tag "Url" %>
    <%= text_field_tag :link %>

    <%= label_tag "Category" %>
    <%= text_field_tag :category %>

    <%= label_tag "Website Name" %>
    <%= text_field_tag :source %>

    <%= label_tag "Related Project (if applicable)" %>
    <%= text_field_tag :project %>

    <%= submit_tag "Submit Your Findings" %>
  <% end %>
</section>
