<h2 class='text-info'>Index</h2><hr>

 <section id='project-related'>
   <h4 class="text-info">Project Related</h4><hr>
   <% project_related_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %><hr>
 </section>

 <section id='official-docs'>
   <h4 class="text-info">Official Documentation</h4><hr>
   <% official_docs_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %>
   <hr>
 </section>

 <section id='tools'>
   <h4 class="text-info">Tools</h4><hr>
   <% tools_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %><hr>
 </section>

 <section id='rails'>
   <h4 class="text-info">Rails</h4><hr>
   <% rails_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %><hr>
 </section>

 <section id='ruby'>
   <h4 class="text-info">Ruby</h4><hr>
   <% ruby_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %><hr>
 </section>

 <section id='apis'>
   <h4 class="text-info">APIs</h4><hr>
   <% apis_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %><hr>
 </section>

 <section id='active-record'>
   <h4 class="text-info">ActiveRecord</h4><hr>
   <% active_record_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %><hr>
 </section>

 <section id='testing'>
   <h4 class="text-info">Testing</h4><hr>
   <% testing_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
   <% end %><hr>
 </section>

 <section id='misc'>
   <h4 class="text-info">Miscellaneous</h4><hr>
   <% misc_category(@resources).each do |resource| %>
   <%= render :partial => "attributes", :locals => { :resource => resource} %>
    <% end %><hr>
 </section>
