<!DOCTYPE html>
<html>
  <head>
    <title>Resourceful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>


  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
        <h3 class='text-info'>Resourceful
          <small class="text-muted">A site for current Turing Mod 3 students to catalog helpful articles and resources</small>
        </h3>
        <% flash.each do |type, message| %>
          <p><%= message %></p>
        <% end %>
      </div>
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
